---
layout: default
pagination: 
  enabled: true
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="{{ site.baseurl }}{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="{{ site.baseurl }}{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2>
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">

  <h1>Eagle Island Micro Triathlon</h1>
  <p><b>Note: Due to unexpectedly high water flow, we're modifying the course to not include the Boise river.</b>
  <p><b>When</b>: Sat, June 18, 2022 at 4:00pm</p>
  <p><b>Course:</b>
  Starting at Eagle Island (end of dirt road at the east end of the park), the course consists of a "<em>swim, bike, run</em>" loop, ending at the entrance to the swim lake of Eagle Island:
  </p>
  <ul style="font-size: 20px">
    <li> 0.2 mile swim</li>
    <li> 3 mile bike ride aroudn Eagle Island</li>
    <li> 1 mile run to Eagle Island Swim Area
    </li>
  </ul>
  <p><b>1. Swim (0.2 mile)</b></p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://onthegomap.com/?m=s&amp;u=mi&amp;d=278&amp;f=882c1c8bee&amp;n=1&amp;dm=1&amp;context=embed&amp;r2=Yqqg8pzjcMa1C8n23b2RX2NX1RZ1d1NV5f1DZ1FT1Jg1"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
  <p><b>2. Bike (3 miles)</b></p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://onthegomap.com/?m=s&amp;u=mi&amp;w%5B%5D=Routes+may+not+be+suitable+for+public+use.&amp;c%5B%5D=Route+data+%C2%A92022+On+The+Go+Map%2C+OpenStreetMap+Contributors&amp;d=4777&amp;f=5a0fe8094e&amp;n=1&amp;dm=1&amp;context=embed&amp;r2=giqg8ZbkcMTPZ1~11r27DD350B0D050V2D4DE12F3J6DABIBSNo4Fa1BGNMNC92f191B9b76d1Or1g3z4Cf16p26TATY1x1Kr16d25p40309D0E00C6s45e2Js1X1y19U5U5q2Bg1f3_4Ns15e1Co74k62y36w1Ky3GW2Kw1Kq1Qs1k1m2Y2o2GGi1g1w1k12Qk2wS6M22IAeD9k11i53m21SAICO8i2049Sz1m1Z3o1t3m1X3e1Z2QX1k2d2i2l2GLKn127Ed16f10h51f1Bf1FX1h1h2v1v2TZ1D55194Rm1Rw1Bc1r1c35892B35301b1i2HQHMb1QPAR2f74f18X15z3050r82T3Z2RX3h2v1j1x1v1X2n2j1l2Pr1Jp1Jv1F~1Jx35v10Z31N3j6g1AA1OB2Gc33e33I1G0A2S1E0"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
  <p><b>3. Run (1 mile)</b></p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://onthegomap.com/?m=s&amp;u=mi&amp;w%5B%5D=Routes+may+not+be+suitable+for+public+use.&amp;c%5B%5D=Route+data+%C2%A92022+On+The+Go+Map%2C+OpenStreetMap+Contributors&amp;d=1608&amp;f=a505d57e22&amp;n=1&amp;dm=1&amp;context=embed&amp;r2=ueqg8xXkcM7f9E0C0604f12747818TEZ1Id1e1X2OPe1RG7Q3S2A4G6SMOUKc1OUG8C8c2C84ECAEEc1Sg3Ae38e21m19w5Jo52o23s63y65GHIJ4B1HB10HJf2x2b1f1n1d1d17v3c1Z12Z1750322C1B7d77l105375b73b580"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small></main>

{% include footer.html %}
