---
layout: default
pagination: 
  enabled: true
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="{{ site.baseurl }}{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="{{ site.baseurl }}{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2>
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">

  <h1>Eagle Island Micro Triathlon</h1>
  <p><b>When</b>: Sat, June 18, 2022 at 4:00pm</p>
  <p><b>Course:</b>
  Starting at Eagle Island (end of dirt road at the east end of the park), the course consists of a "<em>run, swim (float), bike</em>" loop, ending at the far west parking lot of Eagle Island:
  </p>
  <ul style="font-size: 20px">
    <li> 3/4 mile run to the South Channel of Boise River
    </li>
    <li> 1/2 mile river float (life preservers required) to Grandma's house</li>
    <li> 3.5 mile bike ride on friendly streets back to Eagle Island</li>
  </ul>
  <p style="color:red"><b>For more information, visit the <a href="/about">registration, setup and safety page</a>.</b></p>
  <p><b>1. Run (3/4 mile)</b></p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://onthegomap.com/?m=s&amp;u=mi&amp;w%5B%5D=Routes+may+not+be+suitable+for+public+use.&amp;c%5B%5D=Route+data+%C2%A92021+On+The+Go+Map%2C+OpenStreetMap+Contributors&amp;d=1197&amp;f=6ff51b4561&amp;n=1&amp;dm=1&amp;context=embed&amp;r2=qiqg8tZicM04x74H8tB2v46dAItDC7979FxA0d5Kd6Er1"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
  <p><b>2. Swim/float (1/2 mile)</b></p>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://onthegomap.com/?m=s&amp;u=mi&amp;d=716&amp;f=6ff51b4561&amp;n=1&amp;dm=1&amp;context=embed&amp;r2=swog8dyicM5z2n2b9h1hC~1n4v3l2z1Hf6r8p1J9G5GB0"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
  <p><b>3. Bike (3.5 miles)</b></p>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://onthegomap.com/?m=s&amp;u=mi&amp;w%5B%5D=Routes+may+not+be+suitable+for+public+use.&amp;c%5B%5D=Route+data+%C2%A92021+On+The+Go+Map%2C+OpenStreetMap+Contributors&amp;d=5656&amp;f=49d1da01ae&amp;n=1&amp;dm=1&amp;context=embed&amp;r2=Y_ng8~ckcMJt1F9X20X1AIW3Aq12o3Fi3Fc37s24g24c44c3Cu9h52X20b20Z52D0x40T0b92l20P00X23X13j17R0XA0N2r26t1Gj2g1h5Ep18f1CFUj3FJd1n1z1t2X1x1Pr2Bd21b8Cj30x33f1F~2Hf20d1Cf1Mt1g3f6a1d2a1h28X1AV4~10t50f18b1EX1g1l26R6Z12v46f1Kp1a1f2k1j1SVOv18r10h28L1~21r1o20u22w40cA8q12W32W10M2w11K24i98UAKq1_1c1u1Su1Gc1Gi1Ie28_20_19_1Fw11W10M0LAKOEi20y14U8yA8i21yAFo11w20m50g51e30e10g31_61g232e60Y52_66sD4Y53c2PW2Vy1Fw11y13c19M"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
</main>

{% include footer.html %}
